//====
$serviceInfoHeaderColor: #FFC20A;
$serviceInfoHeaderFontSize: 4rem;
$serviceInfoHeaderLineHeight: 5.125rem;

$serviceInfoSubHeaderColor: #fff;
$serviceInfoSubHeaderFontSize: 1.5rem;
$serviceInfoSubHeaderLineHeight: 1.75rem;

//====
$serviceFooterIconHeaderColor: #FFC20A;
$serviceFooterIconHeaderFontSize: 4rem;
$serviceFooterIconHeaderLineHeight: 5.125rem;

$serviceFooterIconSubHeaderColor: #fff;
$serviceFooterIconSubHeaderFontSize: 1.5rem;
$serviceFooterIconSubHeaderLineHeight: 1.75rem;

//====
$serviceFooterInfoHeaderColor: #fff;
$serviceFooterInfoHeaderFontSize: 1.5rem;
$serviceFooterInfoHeaderLineHeight: 1.75rem;

$serviceFooterInfoSubHeaderColor: #fff;
$serviceFooterInfoSubHeaderFontSize: 1.25rem;
$serviceFooterInfoSubHeaderLineHeight: 1.4rem;